html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input
{margin:0;padding:0;color:#333333;box-sizing: border-box;}
p{font-size: 14px;}
body{margin: 0px auto;font-family:微软雅黑,Arial, Helvetica, sans-serif, simsun,宋体;height: 100%;}
a, a:link, a:visited {text-decoration: none; color: inherit;-webkit-tap-highlight-color: transparent;display: block;}
em,i{ font-style: normal;}
li{list-style:none;}
img{border:none; max-width: 100%}
.center{ text-align: center;}
.red{ color: #f00}
/* 写before不可以 */
.clearfix::after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
/*共用样式*/
.hide{display: none;}
.center{left: 0;right: 0;margin: auto;position: absolute;}
.yCenter{left: 0;right: 0;top: 0;bottom: 0; margin: auto;position: fixed;}
.shade{width: 640px;height: 100%;background: rgba(0,0,0,0.7);display: none;position: fixed;}